html,body {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
    min-width: 680px;
}

a {
    text-decoration:none;
    margin: 0;
}

.middle {
    text-align: center;
}

/*--- Navbar ---*/
div.menu {
    display: flex;
    align-items: center;
    width:100%;
    height: 10%;
    background-color: rgba(41, 128, 185,1.0);
}

div.logo{
    background: url(../img/logo.png) no-repeat center right;
    background-size: cover;
    width:20%;
    height: 100%;
    min-width: 275px;
}

ul.navigation {
    display: flex;
    align-items: end;
    list-style: none;
}

ul.navigation > li {
    height:100%;
    padding:12px 20px;
    text-align:center;
    margin: 0;
    border-left: 1px solid white;
}

ul.navigation > li a {
    font-family: Raleway, sans-serif;
    color:#FFFFFF;
    font-size:18px;
}

/*--- The alert message box ---*/
.alert {
    margin: 5px 10px 15px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
}

.info {
    padding: 20px;
    background-color: #34495e; /* Grey */
    color: white;
    margin: 5px 10px 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*--- Lobby tables ---*/
table.lobby {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr.headerrow {
    border-bottom: 2px solid black;
}

th {
    padding-left: 15px;
    padding-right: 15px;
}

/*--- Game containers ---*/

@media only screen and (min-width: 1000px) {
    div.small-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
        display:inline-block;
        float: left;
        width: 40%;
        height: 400px;
        min-width: 400px;
    }
}

div.normal-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    display:inline-block;
    width: 60%;
    height: 720px;
    min-width: 400px;
}

@media only screen and (max-width: 999px) {
    div.small-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        display:inline-block;
        float: left;
        width: 80%;
        height: 400px;
        min-width: 400px;
    }
}


div.small-container div.menu {
    display: block;
    align-items: center;
    width:100%;
    height: 10%;
    background-color: rgba(41, 128, 185,1.0);
}

div.normal-container > div.menu {
    display: block;
    align-items: center;
    width:100%;
    height: 7.5%;
    background-color: rgba(41, 128, 185,1.0);
}

div.small-container ul {
    padding: 0;
    display: list-item;
    list-style: none;
    text-align: center;
}

div.normal-container > div.menu > ul {
    padding: 0;
    display: list-item;
    list-style: none;
    text-align: center;
}

div.small-container li {
    height:100%;
    padding:12px 20px;
    text-align:center;
    font-weight: bold;
    margin: 0;
    color: white;
}

div.normal-container > div.menu  li {
    height:100%;
    padding:16px 20px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    color: white;
}


div.small-content {
    background-color: rgba(236, 240, 241,1.0);
    border-top: 0;
    margin-bottom: 20px;
    float:bottom;
    width:100%;
    max-height: 360px;
    display: inline-block;
    overflow-y: scroll;
}

div.normal-content {
    background-color: rgba(236, 240, 241,1.0);
    border-top: 0;
    margin-bottom: 40px;
    float:bottom;
    width:100%;
    /*height: 680px;*/
    display: inline-block;
    overflow-y: scroll;
}

img.tile {
    width: 75%;
    height: auto;
    border: 0;
    margin: 3% 0 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(41, 128, 185,1.0);
}

p.small-content {
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: rgba(41, 128, 185,1.0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.extra-padding {
    padding-left: 20px;
    padding-right: 20px;
}

/* --- Indienpaneel ---*/
label.submitpanel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --- Collapsibles --- */
.collapsible {
    background-color: rgba(125, 189, 232, 1.0);
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.openBtn {
}

.urgent {
    background-color: rgba(213, 82, 68, 1.0)!important;
}

.active, .collapsible:hover {
    background-color: rgba(52, 152, 219, 0.5);
}

.collapsed-content {
    padding: 5px 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-left: 3px solid rgba(52, 152, 219, 0.5);
    border-right: 3px solid rgba(52, 152, 219, 0.5);
    border-bottom: 3px solid rgba(52, 152, 219, 0.5);
}

.urgent2 {
    border: 2px solid rgba(213, 82, 68, 1.0)!important;
}

label {
    display: block;
    text-align: left;
}

label>p {
    display: inline-block;
    width: 125px;
}

.modal-content label>p {
    display: inline-block;
    width: 160px;
}

input {
    display: inline-block;
}

input.small {
    width: 100px;
    height: 25px;
}

input.medium {
    width: 205px;
    height: 25px;
}

input.big {
    width: 75%;
    height: 25px;
}

label.login {
    text-align: center;
}

label.login>p {
    margin: 5px;
}

textarea {
    display: inline-block;
    width: 75%;
    height: 300px;
    vertical-align: top;
}

div.collapsed-content textarea {
    display: inline-block;
    width: 75%;
    height: 205px;
    vertical-align: top;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 25px;
}

/* Modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #2980b9;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    text-align: left;
}

/*--- Stat table ---*/
table.stats {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
}

tr.headerrow {
    border-bottom: 2px solid black;
}

tr {
    border-bottom: 1px solid lightgray;
}

th {
    padding-left: 15px;
    padding-right: 15px;
}

td {
    text-align: left;
}