<!DOCTYPE html>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments.html :: head (info='Agenda')"> </head>
  <body>
    <header th:replace="fragments.html :: menu (${loggedIn})"></header>
    <main class="middle">
      <h1>
        Agenda
      </h1>
      <p>
        In onderstaande tabel vindt u de stukken die in de toekomst zullen worden gepost op /r/RMTK.
        <br>
        Verder naar beneden vindt u de stukken waarover nog zal worden gestemd.
      </p>
      <table id="agenda" class="lobby">
        <thead>
          <tr class="headerrow">
            <th class="sorter-dutchdateparser">Postdatum</th>
            <th>Kenmerk</th>
            <th>Soort</th>
            <th>Indiener</th>
            <th>Titel</th>
            <th class="sorter-dutchdateparser">Stemmingsdatum</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="kamerstuk : ${queue}">
            <td th:text="${kamerstuk.getPostDateAsString()}">Postdatum</td>
            <td th:text="${kamerstuk.getCallsign()}">Kenmerk</td>
            <td th:text="${kamerstuk.getType().getName()}">Soort</td>
            <td th:text="${kamerstuk.getSubmittedBy()}">Indiener</td>
            <td th:text="${kamerstuk.getTitle()}">Titel</td>
            <td th:text="${kamerstuk.getVoteDateAsString()}">Stemmingsdatum</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h2>Stemagenda</h2>
      <table id="vote-agenda" class="lobby">
        <thead>
          <tr class="headerrow">
            <th>Stemmingsdatum</th>
            <th>Kenmerk</th>
            <th>Indiener</th>
            <th>Titel</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="kamerstuk : ${voteQueue}">
            <td th:text="${kamerstuk.getVoteDateAsString()}">Stemmingsdatum</td>
            <td th:text="${kamerstuk.getCallsign()}">Kenmerk</td>
            <td th:text="${kamerstuk.getSubmittedBy()}">Indiener</td>
            <td><a th:text="${kamerstuk.getTitle()}" th:href="${kamerstuk.getUrl()}">Titel</a></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>

<script>
  $.tablesorter.addParser({
    // use a unique id
    id: 'dutchdateparser',
    is: function(s, table, cell, $cell) {
      return false;
    },
    format: function(s, table, cell, cellIndex) {
      console.log(s)
      console.log(new Date(s).toString())
      return new Date(s).getTime();
    },
    // flag for filter widget (true = ALWAYS search parsed values; false = search cell text)
    parsed: false,
    type: 'numeric'
  });
  $("#agenda").tablesorter()
  $("#vote-agenda").tablesorter()
</script>
