<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head (info='Archief')">

</head>
<body>
<div th:replace="fragments.html :: menu (${loggedIn})">

</div>

<div class="alert" th:if="${param.notfound}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Geen resultaten gevonden!
</div>

<div class="normal-container middle">
    <div class="menu">
        <ul>
            <li>Gevonden kamerstukken</li>
        </ul>
    </div>
    <div class="normal-content middle">
        <h1>Zoeken</h1>
        <form th:action="@{'/archive/' + ${current}}" th:method="POST" th:object="${filterDTO}">
            <input class="submitpanel big"  type="text" name="filterString" th:field="*{filterString}" placeholder="Zoeken...">
            <input type="submit" th:value="Zoeken">
        </form>
        <hr>
        <div th:each="kamerstuk: ${kamerstukken}">
            <form th:id="${kamerstuk.getId()}" th:action="@{'/archive/' + ${kamerstuk.getType().getCall()} + '/' + ${kamerstuk.getCallnumber()}}" th:method="GET">
                <button th:if="${kamerstuk.callsign} != null" th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.callsign} + ': ' + ${kamerstuk.title}" th:onclick="document.getElementById(${kamerstuk.getId()}).submit()">
                </button>
                <button th:if="${kamerstuk.callsign} == null" th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.title}" th:onclick="document.getElementById(${kamerstuk.getId()}).submit()">
                </button>
            </form>
        </div>
    </div>

</div>

<script>
    var coll = document.getElementsByClassName("collapsible");

    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    var modals = document.getElementsByClassName("openBtn");
    var span = document.getElementsByClassName("close");

    for (i = 0; i < modals.length; i++) {
        modals[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            content.style.display = "block";
        });
        span[i].addEventListener("click", function() {
            this.classList.toggle("closed");
            var content = this.parentElement.parentElement;
            content.style.display = "none";
        })
    }
</script>
</body>
</html>