<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head ('Game')">

    </head>
    <body>
        <div th:replace="fragments.html :: menu(true)">

        </div>
        <div class="info" th:if="${param.nextround}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            A new round has started!
        </div>
        <div class="info" th:if="${param.waiting}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Waiting for other players to finish their turn.
        </div>

        <!--Info-->
        <div class="small-container">
            <div class="menu">
                <ul>
                    <li th:text="${player.getCompanyName()}"></li>
                </ul>
            </div>
            <div class="small-content middle">
                <table class="game">
                    <tr>
                        <td>
                            Current turn:
                        </td>
                        <td th:text="${game.getCurrentTurn()}">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Balance:
                        </td>
                        <td th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(player.getMoney())}">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Profit last turn:
                        </td>
                        <td th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(player.getMoney())}">

                        </td>
                    </tr>
                </table>
                <a th:href="@{'/game/' + ${game.getId()} + '/endturn'}"><button th:text="${'End turn'}"></button></a>
            </div>
        </div>

        <!--Notifications-->
        <div class="small-container">
            <div class="menu">
                <ul>
                    <li th:text="Notifications"></li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="notification : ${player.getNotifications()}">
                    <button class="collapsible" th:text="${notification.getTitle()}">
                        <a th:href="@{${notification.getLink()}}"><button class="goto-link">Go to</button></a>
                    </button>
                    <div class="collapsed-content">
                        <p th:text="${notification.getText()}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Fabrieken-->
        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Factories</li>
                </ul>
            </div>
            <div class="small-content middle">
                <table class="lobby">
                    <tr class="headerrow">
                        <th>
                            Code
                        </th>
                        <th>
                            Production capacity
                        </th>
                        <th>
                            Currently producing
                        </th>
                        <th>
                            Manage
                        </th>
                    </tr>
                    <tr th:each="factory: ${player.getFactories()}">
                        <td th:text="${#strings.substring(factory.getId(), 0, 5)}">

                        </td>
                        <td th:text="${factory.getCapacity()}">

                        </td>
                        <td th:text="${factory.getProducing().getName()}">

                        </td>
                        <td>
                            <a th:href="@{'/game/' + ${game.getId()} + '/factory/' + ${factory.getId()}}"><button th:text="${'Manage'}">
                            </button></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Producten-->
        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Products</li>
                </ul>
            </div>
            <div class="small-content middle">
                <!--Lijst met producten-->
            </div>
        </div>


        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>

    </body>
</html>