<!DOCTYPE html>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments.html :: head (info='Indienpaneel')"> </head>
  <body>
    <header th:replace="fragments.html :: menu (${loggedIn})"></header>
    <div class="info" th:if="${param.submitted}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      Uw kamerstuk is ingediend!
    </div>
    <div class="alert" th:if="${param.problem}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      Er is helaas iets misgegaan, laat dit even weten aan /u/th8.
    </div>
    <div class="alert" th:if="${param.accessdenied}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
      >
      Je hebt geen toegang tot die pagina.
    </div>
    <main class="middle content">
      <h1>Dien een kamerstuk in</h1>
      <form id="kamerstukForm" th:action="@{/}" th:object="${kamerstuk}" th:method="post">
        <label class="submitpanel">
          <p>Type kamerstuk:</p>
          <select th:field="*{type}">
            <option
              th:each="type : ${types}"
              th:value="${type}"
              th:text="${type.getName()}"
            ></option>
          </select>
        </label>
        <label class="submitpanel">
          <p>Titel het kamerstuk:</p>
          <input
            class="big"
            type="text"
            id="kamerstukTitle"
            th:field="*{title}"
            placeholder="Motie tot..."
            required
            onkeyup="doPreview()"
          />
        </label>
        <label class="submitpanel">
          <p>Inhoud van het kamerstuk:</p>
          <textarea
            maxlength="40000"
            th:field="*{content}"
            id="kamerstukContent"
            required
            onkeyup="doPreview()"
          ></textarea>
        </label>
        <label class="submitpanel">
          <p>Live preview:</p>
          <div class="preview-container" id="preview"></div>
        </label>
        <label class="submitpanel">
          <p>Gebruikersnaam indiener:</p>
          <input
            id="username"
            class="medium"
            type="text"
            th:field="*{submittedBy}"
            placeholder="th8"
            pattern="[A-Za-z0-9_-]+"
            title="Een valide reddit username, zonder /u/"
            required
          />
        </label>
        <label class="fixHitbox">
          <p>Spoed?</p>
          <input type="checkbox" th:field="*{urgent}" />
        </label>
        <input type="submit" value="Indienen" />
      </form>
    </main>
    <script>
      $('#kamerstukForm').submit(function () {
          let content = $('#kamerstukContent').val()
          let username = $('#username').val()
          if(!content.includes(username)) {
            alert("Uw gebruikersnaam komt niet voor in het kamerstuk. \n" +
                    "Vergeet niet onderaan het kamerstuk te zetten door wie deze is ingediend in het volgende format: \n\n" +
                    "###Ingediend door ... namens ...")
            return false;
          }
      })

      function doPreview() {
        let title = "##" + $('#kamerstukTitle').val()
        let content = $('#kamerstukContent').val()
        $("#preview").html(SnuOwnd.getParser().render(title + "\n\n" + content));
      }
    </script>
  </body>
</html>
