<!DOCTYPE html>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments.html :: head (info=${callsign})"> </head>
  <body>
    <header th:replace="fragments.html :: menu (false)"></header>
    <main class="normal-container">
      <div class="menu extra-padding">
        <ul>
          <li th:text="${callsign}"></li>
        </ul>
      </div>
      <div class="normal-content extra-padding">
        <div th:remove="tag" th:utext="${content}"></div>
      </div>
    </main>
  </body>
</html>
