<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head ('Lobbies')">

    </head>
    <body>
    <div th:replace="fragments.html :: menu(true)">

    </div>
    <div class="alert" th:if="${param.notfound}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        We could not find the game you were trying to join.
    </div>
    <div class="alert" th:if="${param.wrongpassword}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        The password you entered was incorrect.
    </div>
    <div class="middle">
        <h1>
            Available games
        </h1>
        <table class="lobby">
            <tr class="headerrow">
                <th>Game name</th>
                <th>Public/Private</th>
                <th>Players</th>
                <th>Join game</th>
                <th>Password</th>
            </tr>
            <tr th:each="game : ${games}">
                <form th:action="@{/lobby/join}" th:method="get">
                    <input type="hidden" name="gameId" th:value="${game.id}">
                    <td th:text="${game.name}"></td>
                    <td th:if="${game.privateGame} == true">Private</td>
                    <td th:if="!${game.privateGame} == true">Public</td>
                    <td th:text="${game.amountOfPlayers()}"></td>
                    <td><input type="submit" value="Join"/></td>
                    <td th:if="${game.privateGame}"><input type="password" name="password" required></td>
                </form>
            </tr>
        </table>
    </div>

        <div class="middle">
            <h1>
                Create a new game
            </h1>
            <form action="#" th:action="@{/lobby/add}" th:object="${newGame}" th:method="post">
                <label>
                    Game name:
                    <input type="text" th:field="*{name}" th:placeholder="Untitled" required>
                </label>
                <label>
                    Optional password:
                    <input type="password" th:field="*{password}">
                </label>
                <input type="submit" value="Create game">
            </form>
        </div>
    </body>
</html>