<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head ('Planner')">

    </head>
    <body>
        <div th:replace="fragments.html :: menu(true)">

        </div>
        <div class="info" th:if="${param.planned}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk ingepland.
        </div>
        <div class="info" th:if="${param.unplanned}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk uit de wachtrij gehaald.
        </div>
        <div class="info" th:if="${param.denied}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk afgewezen.
        </div>
        <div class="info" th:if="${param.rescheduled}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk is verzet.
        </div>
        <div class="info" th:if="${param.withdrawn}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk is ingetrokken.
        </div>
        <div class="info" th:if="${param.delayed}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Stemming is uitgesteld.
        </div>
        <div class="alert" th:if="${param.notfound}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Kamerstuk is niet gevonden.
        </div>
        <div class="alert" th:if="${param.invalidUsername}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            De gebruikersnaam van de indiener was incorrect, deze is dus niet op de hoogte gesteld. De rest van de operatie is wel succesvol uitgevoerd.
        </div>

        <!--Info-->
        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Ingekomen stukken</li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="kamerstuk: ${kamerstukken}">
                    <button th:classappend="${kamerstuk.isUrgent()}? urgent" class="openBtn" th:text="${kamerstuk.title}">
                    </button>
                    <div class="modal">
                        <div th:classappend="${kamerstuk.isUrgent()}? urgent2" class="modal-content">
                            <span class="close">&times;</span>
                            <form th:object="${kamerstuk}" th:action="@{/scheduler/plan}" th:method="post">
                                <input type="hidden" th:name="id" th:value="*{id}">
                                <input type="hidden" th:name="type" th:value="*{type}">
                                <input type="hidden" th:name="urgent" th:value="*{urgent}">
                                <label>
                                    <p>Kamerstuknummer:</p>
                                    <input class="submitpanel small" type="text" th:name="callsign" th:value="*{callsign}" th:placeholder="${kamerstuk.type.getCall()} + '0000'" required>
                                </label>
                                <label>
                                    <p>Titel:</p>
                                    <input class="submitpanel big"  type="text" th:name="title" th:value="*{title}" required>
                                </label>
                                <label>
                                    <p>Inhoud:</p>
                                    <textarea class="submitpanel" th:name="content" th:text="*{content}" required></textarea>
                                </label>
                                <label>
                                    <p>Indiener:</p>
                                    <input class="medium" type="text" th:name="submittedBy" th:value="*{submittedBy}" readonly>
                                </label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <label>
                                        <p>Postdatum:</p>
                                        <input class="submitpanel medium" type='text' th:name="postDate" id="datetime" required autocomplete="off"/>
                                    </label>
                                </div>
                                <label>
                                    <p>Lengte van de lezing:</p>
                                    <input class="small" type="number" th:name="readingLength" th:value="*{readingLength}" value="3" min="1" max="14" required>
                                </label>
                                <div th:if="${kamerstuk.type.needsVote()}" class='input-group date' id='datetimepicker5'>
                                    <label>
                                        <p>Stemdatum:</p>
                                        <input class="submitpanel medium" type='text' th:name="voteDate" id="datetime5" required autocomplete="off"/>
                                    </label>
                                </div>
                                <label>
                                    <p>Oproepen:</p>
                                    <input class="submitpanel big" type="text" th:name="toCallString" th:value="*{toCallString}">
                                </label>
                                <input type="submit" th:value="Inplannen">
                            </form>
                            <hr>
                            <form th:object="${kamerstuk}" th:action="@{/scheduler/deny}" th:method="post">
                                <input type="hidden" th:name="id" th:value="*{id}">
                                <input type="hidden" th:name="title" th:value="*{title}">
                                <label>
                                    <p>Reden voor afwijzing:</p>
                                    <input class="submitpanel big" type="text" th:name="reason" th:value="*{reason}" required>
                                </label>
                                <input type="submit" th:value="Afwijzen">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Ingeplande stukken</li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="kamerstuk: ${queue}">
                    <button th:if="${kamerstuk.callsign} != null" th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.callsign} + ': ' + ${kamerstuk.title}">
                    </button>
                    <button th:if="${kamerstuk.callsign} == null" th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.title}">
                    </button>
                    <div th:classappend="${kamerstuk.isUrgent()}? urgent2" class="collapsed-content">
                        <p th:text="'Ingepland op: ' + ${kamerstuk.getPostDateAsString()}"></p>
                        <p th:each="minister: ${kamerstuk.toCall}" th:text="'Opgeroepen: ' + ${minister}"></p>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{scheduler/reschedule}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <div class='input-group date' id='datetimepicker2'>
                                <label>
                                    <p>Postdatum:</p>
                                    <input class="submitpanel medium" type='text' th:name="postDate" id="datetime2" th:placeholder="*{postDate}" required autocomplete="off"/>
                                </label>
                            </div>
                            <div th:if="${kamerstuk.type.needsVote()}" class='input-group date' id='datetimepicker3'>
                                <label>
                                    <p>Stemdatum:</p>
                                    <input class="submitpanel medium" type='text' th:name="voteDate" id="datetime3" th:placeholder="*{voteDate}" required autocomplete="off"/>
                                </label>
                            </div>
                            <input type="submit" th:value="'Herplannen'">
                        </form>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{/scheduler/setDelay}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">

                            <input type="submit" th:value="'Stemming uitstellen'">
                        </form>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{/scheduler/unplan}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">

                            <label>
                                <p>Reden:</p>
                                <input class="submitpanel big" type="text" th:name="reason" th:value="*{reason}" required>
                            </label>
                            <input type="submit" th:value="'Uit de wachtrij halen'">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Stemming uitgesteld</li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="kamerstuk: ${votesDelayed}">
                    <button th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.callsign} + ': ' + ${kamerstuk.title}">
                    </button>
                    <div th:classappend="${kamerstuk.isUrgent()}? urgent2" class="collapsed-content">
                        <form th:object="${kamerstuk}" th:action="@{scheduler/rescheduleVote}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <div class='input-group date' id='datetimepicker6'>
                                <label>
                                    <p>Stemdatum:</p>
                                    <input class="submitpanel medium" type='text' th:name="voteDate" id="datetime6" th:placeholder="*{voteDate}" required autocomplete="off"/>
                                </label>
                            </div>
                            <input type="submit" th:value="'Inplannen'">
                        </form>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{/scheduler/withdraw}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <input type="hidden" th:name="title" th:value="*{title}">
                            <input type="submit" th:value="Intrekken">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-container">
            <div class="menu">
                <ul>
                    <li>Stukken voor stemming</li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="kamerstuk: ${votesQueued}">
                    <button th:classappend="${kamerstuk.isUrgent()}? urgent" class="collapsible" th:text="${kamerstuk.callsign} + ': ' + ${kamerstuk.title}">
                    </button>
                    <div th:classappend="${kamerstuk.isUrgent()}? urgent2" class="collapsed-content">
                        <p th:text="'Stemming op: ' + ${kamerstuk.getVoteDateAsString()}"></p>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{scheduler/rescheduleVote}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <div class='input-group date' id='datetimepicker4'>
                                <label>
                                    <p>Stemdatum:</p>
                                    <input class="submitpanel medium" type='text' th:name="voteDate" id="datetime4" th:placeholder="*{voteDate}" required autocomplete="off"/>
                                </label>
                            </div>
                            <input type="submit" th:value="'Herplannen'">
                        </form>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{/scheduler/setDelay}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">

                            <input type="submit" th:value="'Stemming uitstellen'">
                        </form>
                        <hr>
                        <form th:object="${kamerstuk}" th:action="@{/scheduler/withdraw}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <input type="hidden" th:name="title" th:value="*{title}">
                            <input type="submit" th:value="Intrekken">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-container">
            <div class="menu">
                <ul>
                    <li th:text="Notificaties"></li>
                </ul>
            </div>
            <div class="small-content middle">
                <div th:each="notification : ${notifications}">
                    <button class="collapsible" th:text="${notification.getTitle()}">
                    </button>
                    <div class="collapsed-content">
                        <p th:text="${notification.getText()}"></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var coll = document.getElementsByClassName("collapsible");

            for (var i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }

                var modals = document.getElementsByClassName("openBtn");
                var span = document.getElementsByClassName("close");

                for (i = 0; i < modals.length; i++) {
                    modals[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        content.style.display = "block";
                    });
                    span[i].addEventListener("click", function() {
                        this.classList.toggle("closed");
                        var content = this.parentElement.parentElement;
                        content.style.display = "none";
                    })
                }
        </script>
        <script>
            tail.DateTime("#datetime", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
            tail.DateTime("#datetime2", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
            tail.DateTime("#datetime3", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
            tail.DateTime("#datetime4", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
            tail.DateTime("#datetime5", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
            tail.DateTime("#datetime6", {
                dateFormat: "dd-mm-YYYY",
                timeFormat: "HH:ii"
            });
        </script>
    </body>
</html>