<!DOCTYPE html>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments.html :: head ('Setup new game')"> </head>
  <body>
    <header th:replace="fragments.html :: menu(true)"></header>
    <div class="alert" th:if="${param.notallowed}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      You're not allowed to start this game, as you're not its host or the game
      has already started.
    </div>
    <div class="middle">
      <h1 th:text="${game.name}"></h1>
      <h2>Players</h2>
      <table class="lobby">
        <tr class="headerrow">
          <th>Company Name</th>
        </tr>
        <tr th:each="player : ${game.getPlayers()}">
          <td th:text="${player.value.companyName}"></td>
        </tr>
      </table>
      <div th:if="${isHost}">
        <form th:action="@{/setup/__${game.id}__/start}" method="get">
          <input type="submit" value="Start Game" />
        </form>
      </div>
    </div>
  </body>
</html>
