<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en_US">
<head th:replace="fragments.html :: head ('Sign up')">
</head>
    <body>
    <div th:replace="fragments.html :: menu(false)">

    </div>
    <div th:if="${param.nameerror}">
        An account with that username already exists.
    </div>
    <div class="middle">
        <h1>
            Maak een account als presidiumlid
        </h1>
        <p>
            Voer om een account aan te maken je reddit username (zonder /u/) en een wachtwoord in.
        </p>
        <form th:action="@{/signup}" th:object="${newUser}" th:method="post">
            <div><label> Reddit username: <input type="text" name="username" required/></label></div>
            <div><label> Password: <input type="password" name="password" required/></label></div>
            <div><label> Secret: <input type="text" name="secret" required></label></div>
            <div><input type="submit" value="Sign Up"/></div>
        </form>
    </div>
    </body>
</html>