<!DOCTYPE html>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments.html :: head (info='Agenda')"> </head>
  <body>
    <header th:replace="fragments.html :: menu (${loggedIn})"></header>
    <main class="middle">
      <h1>
        Voor Toukie
      </h1>
      <table class="lobby toukie">
        <tr class="headerrow">
          <th>Soort</th>
          <th>Kenmerk</th>
          <th>Indiener</th>
          <th>Titel</th>
          <th>Opgeroepen</th>
        </tr>
        <tr th:each="kamerstuk : ${queue}">
          <td th:text="${kamerstuk.getType().getName()}">Soort</td>
          <td th:text="${kamerstuk.getCallsign()}">Kenmerk</td>
          <td th:text="${kamerstuk.getSubmittedBy()}">Indiener</td>
          <td th:if="${!kamerstuk.hasUrl()}" th:text="${kamerstuk.getTitle()}">Titel</td>
          <td th:if="${kamerstuk.hasUrl()}"><a th:text="${kamerstuk.getTitle()}" th:href="${kamerstuk.getUrl()}">Titel</a></td>
          <td th:utext="${kamerstuk.getToCallAsText()}">Opgeroepen</td>
        </tr>
      </table>
    </main>
  </body>
</html>
