<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head ('Planner')">

    </head>
    <body>
        <main class="new-container">
            <aside id="sidebar-location"></aside>

            <div th:replace="fragments.html :: scheduler-errors"></div>

            <section class="new-content">
                <nav th:replace="fragments.html :: menu (true)"></nav>

                <h1 class="middle">Afgewezen stukken</h1>

                <p th:if="${items.size() <= 0}" class="middle">Geen afgewezen stukken...</p>

                <div class="new-list-item" th:each="item : ${items}" th:classappend="${item.isUrgent()}? urgent">
                    <p th:text="${item.title}" class="title"></p>
                    <p>|</p>
                    <p th:text="'' + ${item.submittedBy}"></p>
                    <div class="actions">
                        <a th:href="'#view-' + ${itemStat.count}" rel="modal:open"><button>Bekijk</button></a>
                    </div>


                    <div th:id="'view-' + ${itemStat.count}" class="modal">
                        <h2>Bekijken</h2>
                        <p>Dit is een afgewezen kamerstuk, u kunt de inhoud niet meer wijzigen.</p>
                        <label>
                            <h3 th:text="${item.title}"></h3>
                        </label>
                        <textarea class="submitpanel" th:name="content" th:text="${item.content}" readonly></textarea>
                        <label>
                            <p>Reden voor afwijzing:</p>
                            <input class="big" type="text" th:value="${item.getReason()}" placeholder="Geen reden opgegeven..." readonly>
                        </label>
                    </div>
                </div>
            </section>
        </main>

        <script>
            $("#sidebar-location").load("/scheduler/sidebar?page=Afgewezen")
        </script>
    </body>
</html>