<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head ('Planner')">

    </head>
    <body>
        <main class="new-container">
            <aside id="sidebar-location"></aside>

            <div th:replace="fragments.html :: scheduler-errors"></div>

            <section class="new-content">
                <nav th:replace="fragments.html :: menu (true)"></nav>

                <h1 class="middle">Audit log</h1>

                <p th:if="${items.size() <= 0}" class="middle">Geen log items...</p>

                <div class="new-list-item" th:each="item : ${items}">
                    <p th:text="${item.title}" class="title"></p>
                    <div class="to-right">
                        <p>|</p>
                        <p th:text="'' + ${item.text}"></p>
                        <div class="actions"></div>
                    </div>

                </div>
            </section>
        </main>

        <script>
            $("#sidebar-location").load("/scheduler/sidebar?page=Log")
        </script>
    </body>
</html>