<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org">

<aside class="sidebar-container">

    <div class="sidebar-header middle">
        <h2 th:text="${pageName}"></h2>
    </div>
    <div class="sidebar-content middle">
        <a th:href="@{/scheduler/inbox}">
            <h4 th:text="'Inbox (' + ${inboxCount} + ')'">Inbox</h4>
        </a>
        <a th:href="@{/scheduler/planned}">
            <h4 th:text="'Ingepland (' + ${plannedCount} + ')'">Inbox</h4>
        </a>

        <a th:href="@{/scheduler/votequeue}">
            <h4 th:text="'Stemwachtrij (' + ${voteCount} + ')'">Inbox</h4>
        </a>

        <a th:href="@{/scheduler/delayed}">
            <h4 th:text="'Stemmen uitgesteld (' + ${delayedCount} + ')'">Inbox</h4>
        </a>

        <a th:href="@{/agenda/toukie}">
            <h4>Agenda met verleden</h4>
        </a>

        <a th:href="@{/scheduler/denied}">
            <h4 th:text="'Afgewezen (' + ${deniedCount} + ')'">Inbox</h4>
        </a>
    </div>
</aside>

