<!DOCTYPE HTML>
<html lang="nl_NL" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="fragments.html :: head ('Planner')">

    </head>
    <body>
        <main class="new-container">
            <aside id="sidebar-location"></aside>

            <section class="new-content">
                <nav th:replace="fragments.html :: menu (true)"></nav>

                <div th:replace="fragments.html :: scheduler-errors"></div>

                <h1 class="middle">Uitslagen</h1>

                <div class="filter-button">
                    <a href="#processVote" rel="modal:open"><button>Stemming verwerken</button></a>
                </div>
                <div id="processVote" class="modal">
                    <p>
                        Geef hier de url op van de stemming die je wil verwerken.
                    </p>
                    <form th:action="@{/scheduler/voteSettings/doNow}" th:method="post">
                        <label>
                            <p>Url: </p>
                            <input type="text" class="submitpanel big" th:name="url"  placeholder="https://reddit.com/r/rmtk/iets"></input>
                        </label>

                        <input type="submit" th:value="Verwerken">
                    </form>
                </div>

                <div class="new-list-item" th:each="item: ${results}">
                    <p th:text="${item.title}" class="title"></p>
                    <div class="to-right">
                        <a th:href="'#plan-' + ${itemStat.count}" rel="modal:open"><button>Inplannen</button></a>
                        <a th:href="'#deny-' + ${itemStat.count}" rel="modal:open"><button class="destructive">Afwijzen</button></a>
                    </div>

                    <div th:id="'plan-' + ${itemStat.count}" class="modal">
                        <h2>Inplannen</h2>
                        <p>Plan hier de resultaten in. Kijk goed of de resultaten kloppen. In de audit log kun je eventuele fouten zien. Als deze gefixt zijn kun je de stemming opnieuw laten verwerken.</p>
                        <form th:object="${item}" th:action="@{/scheduler/plan}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <input type="hidden" th:name="type" th:value="*{type}">
                            <input type="hidden" th:name="urgent" th:value="*{urgent}">
                            <input type="hidden" th:name="advice" th:value="*{advice}">
                            <label>
                                <p>Titel:</p>
                                <input class="submitpanel big"  type="text" th:name="title" th:value="*{title}" required>
                            </label>
                            <label>
                                <p>Inhoud:</p>
                                <textarea class="submitpanel" th:name="content" th:text="*{content}" required></textarea>
                            </label>
                            <label>
                                <p>Resultaten voor het spreadsheet:</p>
                                <textarea class="submitpanel" th:name="advice" th:text="*{advice}" readonly></textarea>
                            </label>
                            <label>
                                <p>Indiener:</p>
                                <input class="medium" type="text" th:name="submittedBy" th:value="*{submittedBy}" readonly>
                            </label>
                            <div class='input-group date' id='datetimepicker1'>
                                <label>
                                    <p>Postdatum:</p>
                                    <input class="submitpanel medium datetime" type='text' th:name="postDate" required autocomplete="off"/>
                                </label>
                            </div>

                            <input type="submit" th:value="Inplannen">
                        </form>
                    </div>
                    <div th:id="'deny-' + ${itemStat.count}" class="modal">
                        <form th:object="${item}" th:action="@{/scheduler/deny}" th:method="post">
                            <input type="hidden" th:name="id" th:value="*{id}">
                            <input type="hidden" th:name="title" th:value="*{title}">
                            <input type="hidden" th:name="type" th:value="*{type}">

                            <input type="submit" class="destructive" th:value="Afwijzen">
                        </form>
                    </div>
                </div>

                <br/><br/>

                <hr>

                <h2 class="middle">Huidige kamerleden</h2>

                <div class="filter-button">
                    <a href="#newMembers" rel="modal:open"><button>Nieuwe kamerleden invoeren</button></a>
                </div>
                <div id="newMembers" class="modal">
                    <p>
                        Hier kan een nieuwe kamersamenstelling worden ingesteld. Kopieer hiervoor de kolom met gebruikersnamen uit het stemoverzicht van de masterspreadsheet. <br/>
                        Een naam per regel, met /u/ en witregel tussen coalitie en oppositie. Vervang de namen van kamerleden die zijn vervangen door NVT.
                    </p>
                    <form th:action="@{/scheduler/voteSettings}" th:method="post">
                        <label>
                            <p>Nieuwe kamerleden: </p>
                            <textarea class="submitpanel big" th:name="newTkMemberString" th:text="${tkSettingString}" placeholder="Voer hier de kamerleden in."></textarea>
                        </label>

                        <input type="submit" th:value="Opslaan">
                    </form>
                </div>

                <p th:if="${tkSetting.size() <= 0}" class="middle">Geen kamerleden ingesteld...</p>

                <table class="stats">
                    <tr class="headerrow">
                        <th>Kamerlid</th>
                    </tr>
                    <tr th:each="item : ${tkSetting}">
                        <td th:text="${item}"></td>
                    </tr>
                </table>
            </section>
        </main>

        <script>
            $("#sidebar-location").load("/scheduler/sidebar?page=Log")
        </script>
        <script>
            $(".datetime").datetimepicker({
                format: "d-m-Y H:i"
            })
        </script>
    </body>
</html>